<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tarefa</th>
        <th scope="col">Descriçao</th>
        <th scope="col"><a href="/adicionar-tarefa" class="btn btn-primary btn-sm m-1">Nova tarefa</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td scope="row">{{tarefa.nome}}</td>
        <td>{{tarefa.descricao}}</td>

        <td>
          <a href="/alterar-tarefa/{{tarefa.id}}" class="btn btn-primary btn-sm m-1">Alterar</a>
          <button type="button"  class="btn btn-danger btn-sm" (click)="excluirTarefa(tarefa)">Excluir</button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
