<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Tarefa</th>
        <th scope="col">Descriçao</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td scope="row">{{tarefa.nome}}</td>
        <td>{{tarefa.descricao}}</td>

        <td>
          <button class="btn btn-primary">Alterar</button>
          <a href="/visualizar-tarefa/{{tarefa.id}}" class="btn btn-danger">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
